body {
    background: #F5EDE0;
    color: #6D2F01;
    font-family: Arial, Helvetica, sans-serif;
}

#nav {
    list-style-type: none;
    text-align: center;
    width: 100%;
    padding: 0;
    display:flex
}

#nav-bar li {
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
}

a {
    color: #6D2F01;
    text-decoration: none;
    font-size: 1.5em;
}

a:hover {
    color: #18580D
}

h1 {
    margin: 10px;
    font-weight: lighter;
}

h2 {
    font-weight: lighter;
    margin: 10px;
}

#home-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 180px 70px 0 70px;
}

#home-hello {
    flex: 1.5;
    font-size: 3em;
    margin-bottom: 50px;
    text-shadow: 3px 3px rgb(109,47,1,.25);
}

#home-text #home-hello h1 a:hover {
    opacity: .75;
}

#jessica {
    font-size: 1em;
    background-color: #D2F6A3;
}

.hline {
    flex:.5;
    color: #6D2F01;
    text-align: center;
    margin-top: 50px;
}

#first-hline {
    margin-left: 27px;
}

#smile {
    margin-top: 50px;
    width: 75px;
    height: 75px;
}

#frown {
    display: none;
    margin-top: 50px;
    width: 75px;
    height: 75px;
}

#home-phrase {
    flex:2;
    font-size: 2em;
    text-align: right;
    margin-top: 100px;
    text-shadow: 2px 2px rgb(109,47,1,.25);
}

#about {
    display: flex;
    align-items: center;
    margin: 0 100px 50px 110px;
}

#page-title {
    font-size: 2em;
    margin: 70px 0 40px 110px;
    text-shadow: 3px 3px rgb(109,47,1,.25);
}

#page-title #work-link {
    font-size: 1em;
}

#about-photo {
    width: 500px;
    height: 460px;
    flex: 1;
    border-radius: 10px;
}

#photo {
    width: 500px;
    height: 460px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 2px 3px 5px .1px rgb(109,47,1,.4) ;
}

#about-text {
    flex: 1;
    font-size: 1.5em;
    line-height: 40px;
}

#contacts {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 100px;
}

#contacts div a img:hover {
    opacity: .5;
}

#work-categories {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#work-categories div {
    background-color: #D2F6A3;
    border-radius: 10px;
    font-size: 2em;
    text-align: center;
    margin: 40px 15px 0 15px;
    height: 300px;
    line-height: 300px;
    box-shadow: 2px 2px 5px .1px rgb(109,47,1,.25);
}

#work-categories div:nth-of-type(1) {
    flex: 1;
}

#work-categories div:nth-of-type(2) {
    flex: 1;
}

#work-categories div:nth-of-type(3) {
    flex: 1;
}

#work-categories div:hover {
    opacity: .75;
}

#work-title {
    font-size: 2em;
    margin: 0 0 40px 110px;
    width: fit-content;
    background-color: #D2F6A3;
}

#work-content {
    margin: 0 100px 50px 110px;
}

.a-work {
    font-size: 1.25em;
}

.work-file {
    display: block;
    width: fit-content;
    font-size: .8em;
    color: #18580D;
}

.work-file:hover {
    background-color: #D2F6A3;
    opacity: .75;
}

h3 {
    margin-bottom: 0;
}

.work-text {
    margin-left: 20px;
}

@media (max-width: 900px) {
    #nav {
        font-size: .7em;
    }

    #home-text {
        display: grid;
        margin: 0;
    }

    #home-hello {
        margin: 0;
        font-size: 2.5em;
    }

    #home-phrase {
        margin: 0;
    }

    .hline {
        display: none;
    }

    #page-title {
        margin: 0;
        font-size: 1.5em;
    }

    #about {
        display: grid;
        margin: 0;
    }

    #about-text {
        font-size: 1em;
        line-height: 2em;
        margin: 0 10px 0 10px;
    }

    #about-photo {
        width: 380px;
        height: 350px;
    }

    #photo {
        object-fit: cover;
        width: 380px;
        height: 350px;
    }

    #work-categories {
        display: grid;
    }

    #work-categories div {
        font-size: 1em;
        height: 120px;
        line-height: 120px;
        width: 200px;
    }

    #work-content {
        margin: 0;
    }

    #work-title {
        font-size: 1em;
        margin: 0;
    }

    .a-work {
        font-size: .9em;
    }

    #contacts {
        flex-direction: column;
        /*align-items: center;
        justify-content: space-evenly;*/
        margin-top: 0;
    }

    #contacts a img {
        width: auto;
        height: 170px;
        margin-top: 3px;
    }
}